.main {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.box {
  box-shadow: 0 .5rem 1rem rgba(22, 78, 99, .2);
  border-radius: .6rem;
  margin: 2rem 10rem;
  transition: box-shadow .4s ease;
}

.box:hover {
  box-shadow: 0 .3rem .8rem rgba(22, 78, 99, .3);
}

.boxHeader {
  padding-top: 1rem;
  font-size: 3.2rem;
}

.boxBody {
  text-align: left;
  padding: 2rem 2rem 2rem 6rem;
  font-size: 2.2rem;
}

.boxElement {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
